.navbar{
  height: 75px;
  background-color: black;
  justify-content: start;
  display: flex;

}
span{

    margin-left: 15px;
}

.menu-bars{
  font-size: 3rem;
  background: none;
  margin-left: 3rem;

}


.nave-text {

  display: flex;
  align-items: center;
  padding: 7px 0px 7px 15px;
  list-style: none;
  height: 55px;
  justify-content: start;
  
}
 .nav-menu{
background-color:rgb(27, 24, 15);
width: 245px;
height: 95vh;
display: flex;
justify-content: center;
position: fixed;
top: 0;
left: 100%;
transition: 840ms;

 }

 .nav-menu.active {

    left: 0;
    transition: 350ms;
 }

 .nav-text a{
     text-decoration: none;
     color: aliceblue;
     font-size: 18px;
     width: 95%;
     height: 100%;
     display: flex;
     align-items: center;
     padding: 0 16px;
     border-radius: 4px;
 }

 .nav-text a:hover{
   background-color: rgb(20, 255, 184);
}
 
.nav-menu-items{
    width: 100%;
   
    
}

.navbar-toggle{
    background-color: none;
    width: 100%;
    height: 80px;
    display: flex;
    justify-self: start;
    align-items: center;
}

.App {
  width: 100vw;
  height: 100vh;
 
}
body{

  margin: 0;
  padding: 0;
}
.Sidebar{
height: 100%;
width: 250px;
background-color:teal;
}
.SidebarList{

  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row{
width: 99%;
height: 60px;
list-style-type: none;
margin: 0;
display: flex;
flex-direction: row;
color: white;
justify-content: center;
align-items: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.SidebarList .row:hover{
cursor: pointer;
background-color: mediumturquoise;

}

.SidebarList #active{

background-color:mediumturquoise ;

}

.row #icon{
flex: 30%;
display: grid;
place-items: center;

}

.row #title{
  flex: 70%;
  }
